body {
  margin: 0;
}
#fejlec{
  color: #000000;
  margin-right: 3%;
  float: right;
}
ul {
  display: flex;
  gap: 30px;
  color: #000000;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}
#john{
  
}